@import '../../scss_utilities/mixins.scss';
.pic-name-all {
    display: flex;
    position: relative;
    justify-content: center;
    .picture-name {
        --pic-width: 120px;
        background: white;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        text-align: center;
        &__pic-c {
            position: relative;
            &__pic {
                margin: 0 auto 5px;
                width: var(--pic-width);
                height: var(--pic-width);
                background: black;
                border-radius: 50%;
                background-image: url(../../assets/britney-spears.jpg);
                background-size: cover;
                background-position: center;
                position: relative;
                z-index: 2;
            }
            &__container {
                width: calc(var(--pic-width) + 10px);
                height: calc(var(--pic-width) + 10px);
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.6);
                position: absolute;
                z-index: 0;
                top: -5px;
                left: 50%;
                transform: translateX(-50%)
            }
        }
    }
    .picture-socials {
        position: absolute;
        top: -30%;
        padding: 10px;
        ul {
            list-style: none;
            position: relative;
            display: flex;
            justify-content: center;
            li {
                background: rgba(255, 255, 255, 0.357);
                display: inline-block;
                margin-right: 10px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                &:last-of-type {
                    margin: 0px;
                }
            }
        }
    }
}